.contact-heading {
  font-family: "DM Serif Display", serif;
  font-size: 120px;
}

.text-one {
  padding: 5px 0;
  font-size: 1.7vw;
}
.text-two {
  padding: 5px 0;
  font-size: 1.7vw;
}
.head-one {
  font-size: 4vw;
}
.head-two {
  font-size: 4vw;
}
