.navbar-brand {
  letter-spacing: 1px !important;
  font-size: 1.1rem;
  font-weight: bold;
}
.middle-header-text {
  padding-left: 27%;
  font-family: "DM Serif Display", serif;
  color: #1d1d1d;
  font-size: 0.9vw;
  line-height: 0.9vw;
  font-weight: 400;
}

ul li {
  padding: 0px 15px;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 1.1rem;
  font-weight: bold;
  color: black !important;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background: black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

ul li a.activeNab {
  border-bottom: 1px solid black;
}
@media (max-width: 630px) {
  .middle-header-text {
    padding-left: 0px;
  }
}
